/* COLOR VARIABLES */

:root {

    --dark-blue: #577399;
    --light-blue: #bdd5ea;
    --dark-gray: #495867;
    --light-gray: #e9e9e9;
    --light-red: #f35f55;
}


/* BASE STYLES */

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
    margin: 25px 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 20px;
}

/* DEFAULTS */

img {
    display: block;
    max-width: 100%;
}

section {
    overflow: auto;
}

.wrap {
    max-width: 1280px;
    padding: 50px;
    margin: 0 auto;
}

/***** HOMEPAGE *****/


/* Header */

header {
    text-align: center;
    color: #fff;
    background-image: linear-gradient(rgba(87,115,153,.5), rgba(87,115,153,.5)), url('../img/conference-hero.jpg');
    background-size: cover;
    padding: 80px;
}

header img {
    margin: 0 auto;
    width: 200px;
}

header h1, header h2{
    text-transform: uppercase;
}

/* What to Expect */

#expect {
    background: var(--light-blue);
}

#expect ul li {
    line-height: 1.4;
}
#expect ul li span {
  font-weight: bold;
}
/* Three Points */

.three-points-section{
 min-height: 400px;
}

.three-points-section img {
    width: 300px;
    margin: 0 auto;
}
.three-points-img{
    width: 40%;
    float: left;
    
}
.three-points-text{
    width: 60%;
    float: left;
}


/* Reserve Your Spot */

#reserve {
    background: var(--light-blue);
}


/* Speakers */

#speakers .day-one {
    display: inline-block;
    float: left;
    width: 45%;
    margin-right: 80px;
}
#speakers .day-two {
    display: inline-block;
    float: left;
    width: 45%;
}

#speakers .day-one h4 , #speakers .day-two h4 {
text-align: center;
text-transform: uppercase;
}

#speakers .day-one > div, #speakers .day-two > div{
    height: 200px;
}

#speakers .day-one > div img, #speakers .day-two > div img  {
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 75px;
}


/* What are you waiting for? */
#waiting {

    background: var(--light-blue);
}

/* Footer */

footer {
    background: var(--dark-gray);
    color: #fff;
}

footer .wrap {
    padding: 10px 50px;
    text-align: center;
}


/***** TICKETS *****/

#tickets h1  {
    text-align: center;
    margin-bottom: 50px;
}

/* Tickets Form */

#form-area {
    text-align: center;
}
